#container{
    background-color: black;
   height:600px;
}
img{
    height: 200px;
    width: 300px;
    border: 6px solid white;
    
    margin-top:100px;
    margin-left :450px;;
}
p{
    color:white;
    padding-left: 400px;
    padding-top: 50px;
}
h2{
    text-transform: uppercase;
    padding-left: 300px;
  
    padding-top: 30px;
    
    color:white;
}