body {
  background: linear-gradient(to bottom right, #dfe9f3, #ffffff);
  text-align: center;
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #2c3e50;
  font-size: 3rem;
}
